/*COLOR VARIABLES*/
$lightgray: #ececec;
$darkgray: #aaaaaa;
$bg-gray:  rgba(0,0,0,0.5);
$bloodred: #8a0707;
$oceanblue: #128499;
$olivegreen: #559912;
$burntorange: #b37803;
$rnavgray: #222222;
$caption-gray: #999999;
$linkblue: #039be5;

/*FONTS*/
$headerfont: 'Nunito Sans', sans-serif;
$bodyfont: 'Lato', sans-serif;

/*SCREEN SIZES*/
$mdphone: 400px;
$lgphone: 480px;
$smtablet: 600px;
$mdtablet: 680px;
$lgtablet: 840px;
$smdesktop: 960px;
$mddesktop: 1160px;
$lgdesktop: 1440px;