.navbar {
	background-color: #f2f2f2;
	overflow: auto;
	margin: -8px -8px 0px -8px;
}

.logo img {
	width: 50px;
	height: 50px;
	margin: 6px 0px 0px 14px;
	float: left;
}

h1 {
	font-family: 'Lusitana', serif;
	font-size: 24px;
	margin-left: 48px;
	float: left;
}

nav {
	text-align: center;
	margin: 20px 0px 0px 7px;
	position: absolute;
	left: 450px; 
	float: right;
}

nav a {
	text-decoration: none;
	font-family: 'Lusitana', serif;
	font-size: 20px;
	margin-left: 47px;
	margin-right: 47px;
}

nav a:link {
	color: black
}

nav a:hover {
	font-weight: bold;
}

nav a:visited {
	color: black;
}

p {
	font-family: 'Lusitana', sans-serif;
	font-size: 40px;
	text-align: center;
	margin: 150px 100px 0px 100px;
}

.about {
	float: left;
	width: 85%;
}

.skills {
	float: right;
	background-color: #720606;
	width: 15%;
	height: 616px;
	color: white;
	font-family: 'Lato', sans-serif;
	margin-right: -8px;
}

.skills h4 {
	text-align: center;
	text-decoration: underline;
	font-size: 18px;
}

.skills ul {
	list-style: none;
	padding: 0px 0px 0px 12px;
	font-size: 16px;
}

.resume {
	text-align: center;
}

.resume a:link {
	color: white;
	text-decoration: underline;
}

.resume a:hover {
	font-weight: bold;
}

.resume a:visited {
	color: white;
	text-decoration: underline;
}

.social {
	margin-left: 47px;
}

.social img {
	width: 100px;
	height: 100px;
	margin-top: 20px;
	opacity: 0.9;
}