/*********************************************************************************
								GLOBAL STYLING
*********************************************************************************/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
	font-size: 62.5%;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
}

body {
	min-height: 100%;
	font-size: 1.6rem;
	background-color: #efefef;
}

/*********************************************************************************
								NAVIGATION BAR
*********************************************************************************/

.navbar {
	background-color: black;
	overflow: hidden;
	height: 5rem;
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
}

#navwrap {
	width: 100%;
	max-width: 1440px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

#navname {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(,-50%, -50%);
	margin: 0;
	padding: 0;
	text-align: center;
	white-space: nowrap;
}

#navname h1 {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1.5rem;
	font-weight: 800;
	color: white;
	margin: 0;
	padding: 0;
}

nav a {
	display: none;
}

#more {
	height: 100%;
	padding: 1.4rem 1.2rem;
	position: absolute;
	top: 50%;
	right: 0;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	color: white;
	display: block;
	text-decoration: none;
}

/*nav a:hover {
	color: #8a0707;
	border-bottom: 4px solid #8A0707;
	padding-bottom: 1.3rem;
	-webkit-transition: padding-bottom .15s;
	transition: padding-bottom .15s;
}
*/

.active, nav a:hover {
	color: white;
}

/*********************************************************************************
								MOBILE NAVBAR
*********************************************************************************/

#responsive {
	display: none;
	position: absolute;
	z-index: 4;
	width: 100%;
	padding-top: 5rem;
	
}

.rnav {
	background-color: #222;
	overflow: hidden;
	height: 5rem;
	margin: 0;
	text-align: center;
}

.rnav a {
	text-decoration: none;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1.3rem;
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 1.4rem;
	font-weight: 800;
	color: #ccc;
}

.rnav .ractive, .rnav a:hover {
	color: white;
}

/*********************************************************************************
								FRONT PAGE
*********************************************************************************/

#mainpic {
	background: url("JoshRod2.png");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	width: 100%;
	height: 50rem;
	box-shadow: 0 2px 8px 0 rgba(128, 128, 128, 0.2), 0 3px 10px 0 rgba(128, 128, 128, 0.2);
}

#hellodiv {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	position: relative;
	display: none;
}

#hellowrap {
	font-family: 'Nunito Sans', sans-serif;
	text-align: center;
	color: white;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 0 1rem;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#hellodiv h1 {
	margin: 0;
	font-weight: 600;
}

#hellodiv p {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	line-height: 1.3;
}

#arrowwrap {
	position: absolute;
	bottom: 5%;
	left: 50%;
	margin: 0;
	-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
}

#arrowwrap a {
	width: 0;
    height: 0;
    border-top: 1rem solid white;
    border-left: .8rem solid transparent;
    border-right: .8rem solid transparent;
    border-bottom: none;
	text-decoration: none;
}

/*********************************** QUOTE ****************************************/

#quote {
	width: 100%;
	margin: 1rem auto;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background-color: white;
	overflow: hidden;
	box-shadow: 0 2px 8px 0 rgba(128, 128, 128, 0.2), 0 3px 10px 0 rgba(128, 128, 128, 0.2);
}

#quotewrap {
	max-width: 1440px;
	margin: 0 auto;
}

#quotetext {
	font-size: 2.4rem;
	margin: 0 auto;
	padding: 2rem;
	font-style: italic;
}

#credit {
	margin: 0;
	padding: 0;
	text-align: right;
	font-size: 2.4rem;
	color: black;
	font-style: normal;
}

/*********************************** FEATURES ****************************************/

#sitefeatures {
	width: 100%;
	margin: 1rem auto;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background-color: white;
	overflow: hidden;
	box-shadow: 0 2px 8px 0 rgba(128, 128, 128, 0.2), 0 3px 10px 0 rgba(128, 128, 128, 0.2);
}

#featureswrap {
	max-width: 1440px;
	margin: 0 auto;
	padding-bottom: 5rem;
	overflow: hidden;
}

.feature {
	width: 100%;
	padding: 1rem;
}

.featureheader h3 {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 300;
	font-size: 2rem;
	color: black;
}

.featurepicwrap {
	width: 100%;
}

.featurepicwrap img {
	width: 100%;
	height: auto;
}

.featuretext p {
	font-size: 1.6rem;
	line-height: 1.5;
	color: black;
}

.featurelink {
	width: 100%;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1.2rem;
	border: 3px solid black;
	text-align: center;
	transition: .1s ease-in;

}

.featurelink:hover {
	background-color: black;
	transition: .1s ease-in;
}

.featurelink a {
	width: 100%;
	height: 100%;
	padding: 1rem;
	color: black;
	text-decoration: none;
	font-weight: 800;
	display: block;
}

.featurelink a:hover {
	color: white;
	transition: .1s ease-in;
}

/*********************************************************************************
								FOOTER STYLING
*********************************************************************************/

#footer {
	width: 100%;
	height: 5rem;
	margin-top: -5rem;
	clear: both;
	background-color: black;
	overflow: hidden;
}

#footerwrap {
	width: 100%;
	height: 5rem;
	max-width: 1440px;
	margin: 0 auto;
	position: relative;
}

#copyright {
	width: 100%;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-family: 'Nunito Sans', sans-serif;
	text-align: center;
}

#copyright p {
	margin: 0;
	color: white;
	font-weight: 800;
	font-size: 1.6rem;
}

/*********************************************************************************
								ABOUT PAGE
*********************************************************************************/

#aboutheaderpic {
	width: 100%;
	height: 40rem;
	position: relative;
	background: url('JoshRod1BW.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	box-shadow: 0 2px 8px 0 rgba(128, 128, 128, 0.2), 0 3px 10px 0 rgba(128, 128, 128, 0.2);
}

.infosection {
	width: 100%;
	margin: 1rem auto;
	background-color: white;
	box-shadow: 0 2px 8px 0 rgba(128, 128, 128, 0.2), 0 3px 10px 0 rgba(128, 128, 128, 0.2);
}

.infowrap {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 1rem;
}

.infowrap h1 {
	margin: 1rem auto;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 800;
	font-size: 4rem;
}

/*********************************** ABOUT ****************************************/

#aboutmewrapper p {
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 1.5;
}

#aboutmepic {
	display: none;
}

#resumelink {
	width: 100%;
	margin: 3rem auto;
}

/*********************************** BAR GRAPH ****************************************/

#skillset {
	padding-bottom: 5rem;
}

#bargraph {
	margin: 2rem auto;
}

.skillsbar {
	width: 100%;
	height: 2.5rem;
	margin: 3rem auto;
	background-color: #ddd;
	border-radius: 2rem;
}

.barfill {
	height: 2.5rem;
	border-radius: 2rem;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.barfill p {
	color: white;
	position: absolute;
	top: -1.3rem;
	left: 50%;
	-webkit-transform: translate( -50%, 0);
	-moz-transform: translate( -50%, 0);
	-ms-transform: translate( -50%, 0);
	transform: translate( -50%, 0);
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.6rem;
	white-space: nowrap;
}

#graphicbar {
	width: 0;
	background-color: #8a0707;
}

#webbar {
	width: 0;
	background-color: #128499;
}

#clientbar {
	width: 0;
	background-color: #559912;
}

#javabar {
	width: 0%;
	background-color: #b37803;
}

/*********************************** SKILLS LIST ****************************************/

#skillsdescription {
	margin: 2rem 0;
}


#skillsdescription h3 {
	margin: 0px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 2.6rem;
	font-weight: 800;
}

#skillsdescription ul {
	margin: 0;
	padding: 0 2rem;
	list-style-type: none;
}

#skillsdescription li {
	margin: .5rem 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.6rem;
}

#designlist {
	margin: 2rem auto;
}

#devlist {
	margin: 2rem auto;
}

/*********************************************************************************
								 RESUME PAGE
*********************************************************************************/
#resumediv {
	min-height: 100%;
	margin: 0 auto;
	padding-top: 5rem;
	background-color: white;
	overflow: hidden;
	padding-bottom: 5rem;
}

#resumewrapper {
	width: 100%;
	max-width: 840px;
	margin: 0 auto;
}

#resumewrapper img {
	width: 100%;
	height: auto;
}

#resumefooter {
	width: 100%;
	height: 5rem;
	margin-top: -5rem;
	background-color: black;
	clear: both;
}

/*********************************************************************************
								 PROJECT PAGE
*********************************************************************************/

#portfolioheaderpic {
	width: 100%;
	height: 40rem;
	position: relative;
	background: url('designpicBW.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center left;
	box-shadow: 0 2px 8px 0 rgba(128, 128, 128, 0.2), 0 3px 10px 0 rgba(128, 128, 128, 0.2);
}

#portfoliodiv {
	margin-bottom: 0;
	padding: 0 1rem 5rem;
}

/********************************* CASE STUDIES **************************************/
#casestudieswrap {
	width: 100%;
	margin: 1rem auto;
	overflow: hidden;
}

.casestudy {
	width: 100%;
	margin: 3rem auto;
	float: left;
}

.cspic {
	width: 100%;
	overflow: hidden;
}

.cspic img {
	width: 100%;
	height: auto;
}

.cspic img:hover {
	-webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
}

.casestudy h3 {
	margin: .5rem auto;
	padding: 0;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 2.2rem;
	font-weight: 800;
	line-height: 1;
	text-transform: lowercase;
}

.casestudy p {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	font-weight: 300;
}
/*********************************** SQUARES ****************************************/

.squares {
	display: none;
}


/*********************************************************************************
							PROCESS PAGES GLOBALS
*********************************************************************************/
#processdiv {
	width: 100%;
	margin: 0;
	padding: 5rem 0;
	background-color: white;
	overflow: hidden;
}


.processwrapper {
	width: 100%;
	padding: 0 1rem;
	max-width: 144rem;
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.fadepic {
	opacity: 0;
}

.toppic {
	margin: 4rem auto;
}

.toppic img {
	width: 100%;
	height: auto;
}

.processpicwrap {
	margin: 8rem auto 4rem;
}

.sectionheader {
	margin: 2rem auto;
}

.sectionheader h1 {
	margin: 0;
	padding: 0;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 4rem;
	font-weight: 800;
	line-height: 1;
}

.smallerheader h3 {
	font-family: 'Nunito Sans', sans-serif;
	margin: 1rem 0;
	font-weight: 800;
	font-size: 2.4rem;
	text-transform: lowercase;
}

.smallerheader p {
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.processpicwrap img {
	width: 100%;
	height: auto;
}

.bottomheader {
	margin: 4rem auto;
}

#projectnav {
	width: 100%;
	margin: 4rem auto;
	position: relative;
	overflow: hidden;
}

#projectnav a {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1.6rem;
	color: black;
	text-decoration: none;
	font-weight: 800;
	line-height: 1;
}

.projecttext:hover {
	text-decoration: underline;
}

#prevproject, #nextproject {
	display: inline-block;
}

#prevproject {
	float: left;
}

#nextproject {
	float: right;
}

/*********************************************************************************
								BLUE VELVET PAGE
*********************************************************************************/

#bvcolorwrapper {
	border: 1px solid #ddd;
	overflow: hidden;
}

.bvcolors {
	width: 20%;
	height: 5rem;
	display: inline-block;
	float: left;
}

#black {
	background: black;
}

#blue {
	background: #000066;
}

#red {
	background: #660000;
}

#gray {
	background: #888;
}

#white {
	background: #fff;
}

#bvwebmock img {
	border: 1px solid #ddd;
}

/*********************************************************************************
								 GAMMA THETA PAGE
*********************************************************************************/

#lambdalogodesign {
	text-align: center;
}

#nationallogo {
	margin-bottom: 4rem;
}

#lambdafrontpage, #lambdawebmock img {
	border: 1px solid #ccc;
	padding: 1rem;
}

#lambdawebmock img {
	margin-top: -5px;
}

#processlink {
	width: 100%;
	margin: 4rem auto;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1.2rem;
	border: 3px solid black;
	text-align: center;
	transition: .1s ease-in;
}

#processlink:hover {
	background-color: black;
	transition: .1s ease-in;
}

#processlink a {
	width: 100%;
	height: 100%;
	padding: 1rem;
	color: black;
	text-decoration: none;
	font-weight: 800;
	display: block;
}

#processlink a:hover {
	color: white;
	transition: .1s ease-in;
}

/*********************************************************************************
							SUPERMERCADO / CYC PAGES
*********************************************************************************/

#smflyer, #cycflyer {
	width: 50%;
	margin-right: 2%;
	float: left;
}

 #smcover, #sminsta, #cycbanner, #cycinsta {
 	width: 47%;
 }

#topcycle, #cycflyer, #cycbanner, #cycinsta {
	border: 1px solid #ddd;
}

/*********************************************************************************
						LATIN NIGHT / SAN ANTONIO PAGES
*********************************************************************************/

#latinnightmock, #sanantoniomock {
	text-align: center;
}

#latinnightmock img, #sanantoniomock img {
	max-height: 60rem;
}

#lnfilter, #safilter {
	margin-bottom: 4rem;
}

/*********************************************************************************
								MADISONDRINKS PAGE
*********************************************************************************/

#mdscreenwrap {
	overflow: hidden;
}

#mdscreen1, #mdscreen2, #mdscreen3 {
	width: 32%;
	float: left;
}

#mdscreen2 {
	margin-left: 2%;
	margin-right: 2%;
}

.mdlink {
	margin: 2rem auto;
	font-size: 1.6rem;
	font-weight: 400;
	text-align: center;
}

/*********************************************************************************
								CONTACT PAGE
*********************************************************************************/
#contactheaderpic {
	width: 100%;
	height: 40rem;
	position: relative;
	background: url('alamoBW.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	box-shadow: 0 2px 8px 0 rgba(128, 128, 128, 0.2), 0 3px 10px 0 rgba(128, 128, 128, 0.2);
}

#contact {
	margin-bottom: 0;
	padding: 0 1rem 5rem;
}

#formwrap {
	width: 100%;
	margin: 0 auto;
}

#form-messages {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 800;
	text-align: center;
}

.field {
	margin: 1rem 0;
}

label {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 800;
	text-transform: lowercase;
}

input {
	width: 100%;
	height: 3.5rem;
	margin: 0 auto;
	display: block;
	font-size: 1.4rem;
}

textarea {
	width: 100%;
	height: 15rem;
	margin: 0 auto;
	display: block;
	font-size: 1.4rem;
	resize: none;
}

button {
	width: 100%;
	height: 3.5rem;
	background-color: black;
	font-size: 1.4rem;
	color: white;
	border: none;
	cursor: pointer;
}

/*********************************** SOCIAL MEDIA ****************************************/

#social {
	margin: 3rem auto;
}

.socialwrap {
	width: 100%;
	margin: 2rem auto;
	text-align: center;
}

.socialwrap p {
	font-family: 'Nunito Sans', sans-serif;
	margin: 0;
	font-size: 1.8rem;
	font-weight: 800;
	text-transform: lowercase;
}

.socialwrap a {
	text-decoration: none;
}

#githubwrap, #socialicons {
	margin: 1rem auto;
}

.socialwrap img {
	opacity: .8;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	-ms-transition: .5s;
}

.socialwrap img:hover {
	opacity: 1;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	-ms-transition: .5s;
}

#githubwrap img {
	width: 10rem;
	height: auto;
}

#facebook, #linkedin {
	margin: 1rem auto;
	height: 8rem;
	width: auto;
}

/*********************************************************************************
								MEDIA QUERIES
*********************************************************************************/
@media screen and (min-width:400px) {
	#mainpic {
		height: 65rem;
	}

	/***************** PROJECT PAGE ******************/

	.casestudy {
		width: 50%;
		padding: 0 .5rem;
	}

	/***************** PROCESS PAGE ******************/

	.processwrapper p {
		font-size: 1.6rem;
	}

	.bvcolors {
		height: 7rem;
	}

	#bvwebmock {
		width: 95%;
	}

	.mdlink {
		font-size: 1.8rem;
	}
}


@media screen and (min-width:480px) {

	#skillsdescription {
		overflow: hidden;
	}

	#designlist {
		margin-left: 8%;
		float: left;
	}

	#devlist {
		margin-right: 8%;
		float: right;
	}

	/***************** PROCESS PAGES ******************/

	.processwrapper {
		padding: 0 3rem;
	}
}

@media screen and (min-width:600px) {

	#aboutcontent {
		padding-left: 10%;
		padding-right: 10%;
	}

	#bargraph {
		padding-left: 10%;
		padding-right: 10%;
	}

	#designlist {
		margin-left: 10%;
	}

	#devlist {
		margin-right: 10%;
	}

	/***************** PROJECT PAGE ******************/

	#projectheader p {
		font-size: 1.6rem;
	}

	#quotediv {
		text-align: center;
	}

	/***************** PROCESS PAGES ******************/

	.processwrapper p {
		font-size: 1.6rem;
	}

	.smallerheader h3 {
		font-size: 2.4rem;
	}

	#bvlogodesign {
		overflow: hidden;
	}

	#bvlogodesign img {
		display: inline-block;
		margin: 0;
	}

	#bvlogodesign #logosketch {
		width: 100%;
	}

	#bvlogodesign .bvlogo {
		width: 50%;
		margin-top: -3px;
		float: left;
		border: 1px solid #ccc;
	}

	.bvcolors {
		height: 9rem;
	}

	/***************** CONTACT PAGE ******************/
	#form-messages, label {
		font-size: 2rem;
	}
	
	input {
		height: 4.5rem;
		font-size: 2rem;
	}

	textarea {
		height: 22rem;
		font-size: 2rem;
	}

	button {
		height: 4.5rem;
		font-size: 2rem;
	}
}

@media screen and (min-width:680px) {
	.navbar {
		height: 9rem;
	}

	#navname {
		left: 4rem;
		-moz-transform: translate(0, -50%);
		-webkit-transform: translate(0, -50%);
		transform: translate(0, -50%);
	}

	#navname h1 {
		font-size: 2.2rem;
		font-weight: 800;
	}

	nav {
		height: 9rem;
		margin-right: 4rem;
		display: inline-block;
		float: right;
		overflow: hidden;
	}

	nav a {
	height: 100%;
	margin: 0;
	padding: 3.5rem 1.1rem;
	float: right;
	text-decoration: none;
	text-transform: lowercase;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1.8rem;
	font-weight: 800;
	color: #ccc;
	text-align: center;
}

	.navlinks {
		display: inline-block;
	}
	

	#more {
		display: none;
	}

	#mainpic {
		height: 80rem;
	}

	.infowrap h1 {
		margin-left: 2rem;
	}

	#featureswrap {
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
		display: flex;
		align-items: flex-start;
	}

	.feature {
		width: 33.3%;
	}

	/***************** ABOUT PAGE ******************/

	#aboutheaderpic {
		height: 70rem;
	}

	/***************** RESUME PAGE ******************/

	#resumediv {
		padding-top: 9rem;
	}

	/***************** PROJECT PAGE ******************/

	#portfolioheaderpic {
		height: 70rem;
	}

	.casestudy {
		padding: 0 1rem;
	}

	/***************** PROCESS PAGES ******************/
	#processdiv {
		padding-top: 9rem;
	}

	.processwrapper {
		padding: 0 5rem;
	}

	.processwrapper p {
		font-size: 1.8rem;
	}

	.sectionheader h1 {
		margin: 4rem auto;
	}

	.smallerheader h3 {
		font-size: 2.6rem;
	}

	.processpicwrap {
		margin-top: 12rem;
	}

	.bottomheader {
		margin: 6rem auto;
	}

	.bvcolors {
		height: 11rem;
	}

	#processlink {
		width: 30rem;
		margin: 4rem auto;
	}

	.mdlink {
		margin: 4rem auto;
		font-size: 2.4rem;
	}

	#projectnav a {
		font-size: 2.4rem;
	}

	/***************** CONTACT PAGE ******************/

	#contactheaderpic {
		height: 70rem;
	}

	#contact h1 {
		margin-left: 0;
	}

	#social {
		margin: 7rem auto;
	}

	.socialwrap {
		margin: 3rem auto;
		overflow: hidden;
		position: relative;
	}

	#social p {
		font-size: 2rem;
	}

	.socialwrap p {
		position: absolute;
		top: 50%;
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	#githubwrap, #socialicons {
		float: right;
	}

	#githubwrap img {
		width: 12rem;
	}

	#facebook, #linkedin {
		height: 10rem;
	}
}

@media screen and (min-width: 840px) {
	#quotetext {
		text-align: center;
	}

	/***************** PROJECT PAGE ******************/
	
	.casestudy {
		width: 33%;
	}

	/***************** PROCESS PAGE ******************/

	.toppic {
		width: 90%;
	}

	.processpicwrap {
		width: 90%;
		margin-top: 14rem;
	}

	.bottomheader {
		margin: 8rem auto 6rem;
	}

	.bvcolors {
		height: 13rem;		
	}

	/***************** CONTACT PAGE ******************/

}

@media screen and (min-width:960px) {

	#navname h1 {
		font-size: 2.4rem;
	}

	nav a {
		padding: 3.4rem 1.1rem;
		font-size: 2rem;
		margin: 0 1rem;
	}

	#lastnavlink {
		margin-right: 0;
	}

	#mainpic {
		height: 70rem;
	}

	#hellowrap h1 {
		font-size: 4rem;
	}

	#hellowrap p {
		font-size: 2rem;
	}

	#quotetext {
		width: 90%;
	}

	/***************** ABOUT PAGE ******************/

	#aboutheaderpic {
		height: 60rem;
	}

	#aboutcontent {
		margin: 2rem auto 4rem;
		padding: 0;
		position: relative;
		overflow: hidden;
	}

	#aboutmetext {
		width: 60%;
		position: absolute;
		top: 50%;
		right: 3rem;
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	#profileresume {
		width: 40%;
		float: left;
	}

	#aboutmepic {
		width: 25rem;
		margin: 0 auto;
		display: block;
	}

	#aboutmepic img {
		width: 100%;
		height: auto;
	}

	#resumelink {
		width: 25rem;
	}

	#skillscontent {
		margin: 0 auto;
		padding: 0 3rem;
		position: relative;
		overflow: hidden;
	}

	#skillsdescription {
		width: 50%;
		margin: 0;
		position: absolute;
		top: 50%;
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	#bargraph {
		width: 50%;
		margin: 0;
		padding: 0;
		float: right;
	}

	#designlist, #devlist {
		width: 50%;
		margin: 0;
		display: block;
	}

	/***************** PROJECT PAGE ******************/

	#portfolioheaderpic {
		height: 60rem;
	}

	#casestudieswrap {
		display: none;
	}

	.squares {
		width: 70%;
		margin: 3rem auto;
		padding: 0;
		display: block;
		overflow: hidden;
	}

	.square {
		width: 33.33%;
		height: 100%;
		padding: 0;
		float: left;
		overflow: hidden;
		position: relative;
	}
	.square:hover .sqpic {
		-webkit-transform: scale(1.1); 
	    -moz-transform: scale(1.1);
	    -o-transform: scale(1.1);
	    transform: scale(1.1);
	}

	.square:hover .caption {
		opacity: 1;
	}
		
	.sqpic {
		height: auto;
		width: 100%;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		float: left;
	}

	.caption {
		width: 100%;
		height: 100%;
		background-color: rgba(51, 51, 51, 0.6);
		opacity: 0;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		z-index: 3;
		position: absolute;
	}

	.captiontext {
		font-family: 'Lato', sans-serif;
		color: white;
		text-align: center;
		position: relative;
		top: 20%;
	}

	.captiontext h1 {
		font-family: 'Nunito Sans', sans-serif;
		font-size: 2rem;
		font-weight: 800;
		color: white;
		line-height: 1;
		text-decoration: none;
		margin: 0;
		padding: 0;
	}

	.captiontext p {
		font-family: 'Lato', sans-serif;
		font-size: 1.4rem;
		font-weight: 300;
	}
	.casestudybox {
		width: 70%;
		margin: 2rem auto;
		padding: .3rem;
		border: 3px solid white;
		-webkit-transition: .3s;
		-moz-transition: .3s;
		-o-transition: .3s;
		-ms-transition: .3s;
		transition: .3s;
	}
	.casestudybox p {
		font-family: 'Nunito Sans', sans-serif;
		font-weight: 800;
	}
	.casestudybox:hover{
		background-color: white;
		color: rgba(0, 0, 0, .8);
		-webkit-transition: .3s;
		-moz-transition: .3s;
		-o-transition: .3s;
		-ms-transition: .3s;
		transition: .3s;
	}

	.bvcolors {
		height: 15rem;
	}

	#lambdalogodesign {
		width: 70%;
	}

	/***************** CONTACT PAGE ******************/

	#contactheaderpic {
		height: 60rem;
	}

	#contact h1 {
		margin-left: 2rem;
	}

	#formwrap, #social {
		width: 80%;
	}

	#form-messages, label {
		font-size: 2.4rem;
	}

	input, button {
		height: 5rem;
		font-size: 2.4rem;
	}

	textarea {
		height: 24rem;
		font-size: 2.4rem;
	}

	#social p {
		font-size: 2.4rem;
	}

	#githubwrap img {
		width: 13rem;
	}

	#facebook, #linkedin {
		height: 11rem;
	}
}

@media screen and (min-width: 1160px) {

	#quotetext {
		width: 70%;
	}

	#skillslist ul h3 {
		font-size: 2.4rem;
	}

	#skillslist li p {
		font-size: 1.8rem;
	}

	/***************** PROJECT PAGE ******************/

	#authordiv {
		margin-right: 16%;
	}

	.captiontext {
		top: 29%;
	}

	/***************** PROCESS PAGES ******************/

	.processwrapper {
		padding: 0 12rem;
	}

	/***************** CONTACT PAGE ******************/
}

@media screen and (min-width: 1460px) {#mainpic {background-position: center center;}}


