.navbar {
	background-color: #FDFDFD;
	overflow: auto;
	margin: -8px -8px 0px -8px;
	opacity: 0.9;
}

.logo img {
	width: 50px;
	height: 50px;
	margin: 6px 0px 0px 14px;
	float: left;
}

h1 {
	font-family: Lusitana;
	font-size: 24px;
	margin-left: 48px;
	float: left;
}

nav {
	text-align: center;
	margin: 20px 0px 0px 7px;
	position: absolute;
	left: 450px; 
}

a {
	text-decoration: none;
	font-family: 'Lusitana', serif;
	font-size: 20px;
	margin-left: 47px;
	margin-right: 47px;
}

a:link {
	color: black
}

a:hover {
	font-weight: bold;
}

a:visited {
	color: black;
}

body {
	background: url("mainpic.png");
	background-size: 1280px 683px;
	background-repeat: no-repeat;
}