.client-logos {
	padding: 1rem 1rem 2rem;

	 .heading {
	 	padding-top: 0;
	 	padding-left: 0;
    	@include smDesktop {
			margin-left: 1rem;
		}
   	 }

	.clients-row {
		@include flexbox;
		margin-top: 2rem;
		margin-bottom: 2rem;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		    @include mdTablet {
		    	flex-wrap: nowrap;

		    }
		    @include smDesktop {
		    	margin-top: 7rem;
		    	margin-left: 2rem;
		    }

		img {
			width: 50%;
			padding-left: 5px;
			padding-right: 5px;
			max-height: 8rem;
			@include mdTablet {
				width: 25%;
			}
		}
	}
}