#footer {
	@include clearfix;
	width: 100%;
	height: 5rem;
	margin-top: auto;
	clear: both;
	background-color: black;

	#footerwrap {
		width: 100%;
		height: 5rem;
		max-width: $lgdesktop;
		margin: 0 auto;
		position: relative;

		#copyright {
			@include shift(-50%, -50%);
			width: 100%;
			margin: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			text-align: center;
		}

		h1 {
			margin: 0;
			font-size: 1.6rem;
			color: white;
		}
	}
}