.text-pic-link {
	@include clearfix;
	position: relative;
	@include smDesktop {
		@include flexbox;
		width: 85%;
		margin: 0 auto 2rem;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: row-reverse;
		        flex-direction: row-reverse;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	.text {
		@include smDesktop {
			width: 70%;
		}
	}

	.pic-link {
		@include smDesktop {
			display: inline-block;
			margin-right: 5rem;
		}
		@include mdDesktop {
			margin-right: 12rem;
		}
	}

	p {
		margin-top: 0;
		padding-left: 1rem;
		padding-right: 1rem;
		line-height: 1.5;
		@include mdTablet {
			padding-left: 1.5rem;
			padding-right: 1.5rem;
			font-size: 1.8rem;
		}
		@include smDesktop {
			padding-left: 0;
			padding-right: 0;
		}
	}

	img {
		display: none;
		@include smDesktop {
			width: 25rem;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.linkbox {
		width: calc(100% - 2rem);
		margin: 2rem auto;
		@include mdTablet {
			width: calc(100% - 3rem);
			margin: 3rem auto;
		}
		@include smDesktop {
			width: 25rem;
		}
	}
}